[Unit]
Description=Foo
After=syslog.target network.target c

[Service]
WorkingDirectory=/home/sommarjobbare/PiServer/
ExecStart=python app.py

[Install]
WantedBy=multi-user.target