[Unit]
Description=PiServer
After=syslog.target network.target

[Service]
WorkingDirectory=/home/sommarjobbare/PiServer/
ExecStart=python app.py

[Install]
WantedBy=multi-user.target
