
html{
    font-family: 'Courier New', Courier, monospace;
}

iframe{
    width: 100%;
    height: 70%;
}

input{
    display: inline-block;
    margin-top: 1%;
    height: 90%;
    width: 90%;
    font-size: 1vw;
}

label {
    background: rgb(4, 30, 66);
    padding: 5px;
    color:#ffb600;
    border-radius: 10px;
}

#iframe {
  height: 80vh;
}

#labelstuff{
    width: 98%;
    font-size: 1vw;
    display: inline-block;
}

@media only screen and (min-width: 620px) {
    /* For mobile phones: */
    .menu .main .right {
      width: 100%;
    }

.bn5 {
    display: inline-block;
    margin-top: 1%;
    width: 10%;
    font-size: 1vw;
    padding:  0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    z-index: 0;
    border-radius: 10px;
    }

.bn6 {
    display: inline-block;
    margin-top: 2%;
    width: 70%;
    font-size: 1vw;
    padding:  0.6em 2em;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    border-radius: 10px;
    }
    

.menu{
    width: 20%;
    float: left;
    text-align: center;
}

.sup{
    display: inline-block;
    width: 60%;
    height: 5%;
    float: left;
}

.bar{
    width: 99%;
    height: 5%;
    margin-top: 6%;
    float: left;
}

.log{
    width: 99%;
    height: 25%;
    margin-top: 16%;
    float: left;
}

.belowmenu1{
    position: absolute;
    top: 60%;
    left: 1%;
    width: 30%;
}

.belowmenu2{
    position: absolute;
    top: 40%;
    left: 22%;
}

#bittle{
    width: 60%;
}

#text_info{
  margin-left: 22%;
  width: 22%;
  position: absolute;
  margin-top: 0.5%;
  color: Black;
  font-size: 1vw;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.submit_button {
  float: right;
  width: 16%;
  height: 3vh;
}

.yeeeesidk{
  margin-top: 0%;
  margin-right: 5%;
  float: right;
}
#speechbub{
    position: absolute;
    width: 23%;
    top: 40%;
    left: 22%;
}

#SAABlogo{
    width: 60%;
}

.main{
    width: 30%;
    float: left;
}

.right{
    width: 49%;
    margin-left: 30%;
    float: left;
}

.fullscreen{
    width: 20%;
    float: left;
}

.SAABlogo{
    width: 79%;
    margin-top: -5%;
    margin-left: 50%;
    float: left;
    border: 0px solid black;
}

.logBorder {
    display: block;
    overflow: hidden;
    width: 99%;
    height: 17vh;
    margin-top: 6%;
    float: left;
    border-style: dotted;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
  }

#bittle:hover {
    animation: rotation 2s infinite linear;
    
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  
#toggle1 {
  visibility: hidden;
}

#toggle2 {
  visibility: hidden;
}

.toggleContainer {
    margin-top: 10%;
    margin-left: 20%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    height: 25px;
    border: 3px solid #343434;
    border-radius: 10px;
    background: #343434;
    font-weight: bold;
    color: #343434;
    cursor: pointer;
  }
  .toggleContainer::before {
    content: '';
    position: absolute;
    width: 47%;
    height: 100%;
    left: 0%;
    border-radius:10px;
    background: white;
    transition: all 0.0s;
  }
  
  .toggleCheckbox:checked + .toggleContainer::before {
     left: 50%;
  }
  .toggleContainer div {
    padding: 6px;
    text-align: center;
    font-size: 11px;
    z-index: 1;
  }
  .toggleCheckbox {
    display: none;
  }
  .toggleCheckbox:checked + .toggleContainer div:first-child{
    color: white;
    transition: color 0.0s;
  }
  .toggleCheckbox:checked + .toggleContainer div:last-child{
    color: #343434;
    transition: color 0.0s;
  }
  .toggleCheckbox + .toggleContainer div:first-child{
    color: #343434;
    transition: color 0.0s;
  }
  .toggleCheckbox + .toggleContainer div:last-child{
    color: white;
    transition: color 0.0s;
  }