
html{
  font-family: Arial;
  width: 100%;
  height: 100%;
  display: table;
}
label {
    font-size: 30px;
    background: rgb(4, 30, 66);
    padding: 5px;
    color:#ffb600;
    border-radius: 10px;
  }

.write {
    padding: 10px;
  } 
  
body {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    
}

html, body {
  height: 100%;
  width: 100%;
  transform: scale(1);
}

.bittle{
  position: relative;
  width: 250px;
  height: 250px;
  top: -1270px;
}

.fbox {
  display: flex;
  justify-content: space-between;
}

.bittle:hover {
  animation: rotation 2s infinite linear;
  
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.speechBubble{
  width: 510px;
  height: 400px;
  left: 20%;
  bottom: 69%;
  position: absolute;
}

.SAAB {
  position: absolute;
  width: 396px;
  height: 127px;
  left: 70%;
  bottom: 63%;
}

.bn5 {
    margin-right: 105px;
    margin-left: 10px;
    margin-top: -2px;
    padding:  0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
  
  .bn5:before {
    content: "";

    background: linear-gradient(
      45deg,
      #373a36,
      #004c97,
      #ffb600,
      #373a36
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }



.bn5:active {
  color: #000;
}

.bn5:active:after {
  background: transparent;
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #191919;
  left: 0;
  top: 0;
  border-radius: 10px;
}


#cameraframe {
  left: 50%;
  width: 800px;
  height: 600px;
  border-radius: 10px;
  background: #000000;
  padding: 10px;
  position: absolute;
}

#fullScreen{
  left: 49%;
  bottom: 68%;
  position: absolute;
}

.logBorder {
  border-style: dotted;
  border-width: 1px;
  border-color: #000;
  position: relative;
  margin-top: 10px;
  width: 20em;
  height: 350px;
  border-radius: 10px;
  display: block;
  margin-top: 0em;
  margin-bottom: 100em;
  margin-left: 0;
  margin-right: 0;
}

.toggleContainer {
  margin: 10px 0px 10px 0px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80px;
  height: 25px;
  border: 3px solid #343434;
  border-radius: 10px;
  background: #343434;
  font-weight: bold;
  color: #343434;
  cursor: pointer;
}
.toggleContainer::before {
  content: '';
  position: absolute;
  width: 47%;
  height: 100%;
  left: 0%;
  border-radius:10px;
  background: white;
  transition: all 0.3s;
}

.toggleCheckbox:checked + .toggleContainer::before {
   left: 50%;
}
.toggleContainer div {
  padding: 6px;
  text-align: center;
  font-size: 11px;
  z-index: 1;
}
.toggleCheckbox {
  display: none;
}
.toggleCheckbox:checked + .toggleContainer div:first-child{
  color: white;
  transition: color 0.3s;
}
.toggleCheckbox:checked + .toggleContainer div:last-child{
  color: #343434;
  transition: color 0.3s;
}
.toggleCheckbox + .toggleContainer div:first-child{
  color: #343434;
  transition: color 0.3s;
}
.toggleCheckbox + .toggleContainer div:last-child{
  color: white;
  transition: color 0.3s;
}