<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../static/css/test.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        window.addEventListener("load", onLoad1);

        function storestate(state) {
            if (state == "MD: MANUAL" || state == "MD: AUTO"){
                localStorage.setItem("lastState", state);
            }
            else{
                localStorage.setItem("dog", state)
            }
        }

        // Needs to check some values from localstorage due to the switches, they need to fetch their value and set the toggleboxex to value they where before
        function onLoad1() {
            let state = localStorage.getItem("lastState");
            let dog = localStorage.getItem("dog");

            if (state == "MD: MANUAL") {
                document.getElementById("toggle1").checked = true;
                document.getElementById("toggle").checked = true;
            }
            else {
                document.getElementById("toggle1").checked = false;
            }

            if (dog == "ST: DOG2") {
                document.getElementById("onOff").checked = true;
                document.getElementById("toggle2").checked = true;
            }
            else {
                document.getElementById("toggle2").checked = false;
            }
            
            GET_CTRL(state);
            GET_CTRL(dog);
        }

        // Since there is a small animation when toggleboxes are switched it needs to wait for some time before showing them or it looks ugly
        var delayInMilliseconds = 70;

         setTimeout(function() {
            document.getElementById("toggle1").style.visibility = "visible";
            document.getElementById("toggle2").style.visibility = "visible";
        }, delayInMilliseconds);

        // send values to server
        function GET_CTRL(cmd) {
            
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", `/ctrl?cmd=${cmd}`, false ); // false for synchronous request
            xmlHttp.send( null );
        }

        // fetch values from server
        function GET(url) {
            
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", url, false ); // false for synchronous request
            xmlHttp.send( null );
            return xmlHttp.responseText
        }

        // basic polling, fetches new logs from server every second
        var mySynFunc = (url) => {
            txt = GET(url)
            document.getElementById('log1').innerHTML = txt
        }

        // Gets log from right dog depending on the dog toggle switch
        let dog = localStorage.getItem("dog");
        if (dog == "ST: DOG1") {
            /* This id must be used to stop your function interval */
            var id = setInterval(mySynFunc, 2000, '/log_1');
        }
        else if (dog == "ST: DOG2") {
            /* This id must be used to stop your function interval */
            var id = setInterval(mySynFunc, 2000, '/log_2');
        }

        // basic polling, fetches new alerts from server every second
        var polling_alerts = (url) => {
            txt = GET(url)
            if (txt.includes("AR:1")) {
                document.getElementById("h1").innerHTML = "Dog 1: I'm stuck!";
                document.getElementById("h1").style.color = "red";
            }
            if (txt.includes("AR:2")) {
                document.getElementById("h2").innerHTML = "Dog 2: I'm stuck!";
                document.getElementById("h2").style.color = "red";
            }
            if (txt.includes("ARD:1")) {
                document.getElementById("h1").innerHTML = "Dog 1: Operational";
                document.getElementById("h1").style.color = "black";
            }
            if (txt.includes("ARD:2")) {
                document.getElementById("h2").innerHTML = "Dog 2: Operational";
                document.getElementById("h2").style.color = "black";
            }
            if (txt.includes("OF:1")) {
                document.getElementById("h1").innerHTML = "Dog 1: Offline";
                document.getElementById("h1").style.color = "black";
            }
            if (txt.includes("OF:2")) {
                document.getElementById("h2").innerHTML = "Dog 2: Offline";
                document.getElementById("h2").style.color = "black";
            }
            if (txt.includes("ON:1")) {
                document.getElementById("h1").innerHTML = "Dog 1: Online";
                document.getElementById("h1").style.color = "black";
            }
            if (txt.includes("ON:2")) {
                document.getElementById("h2").innerHTML = "Dog 2: Online";
                document.getElementById("h2").style.color = "black";
            }
        }

        var id1 = setInterval(polling_alerts, 1000, '/alerts');

        // fetches keystrokes and sends them to server
        document.addEventListener('keydown', (e) => {
            let dog = localStorage.getItem("dog");
            if (dog == "ST: DOG1") {
                GET_CTRL(`D1: KC: ${e.keyCode}`)
            }
            else if (dog == "ST: DOG2") {
                GET_CTRL(`D2: KC: ${e.keyCode}`)
            }
            
        });

    </script>
</head>
<body>
    <div class="menu">
        <div class="bar">
            <label id="labelstuff"> Write your command:</label><br><br>
        </div>
        <div class="sup">
            <input type="text"  id="cmd" name="cmd" placeholder="kbalance"/>
        </div>
        <div>
            <a href="/" class="bn5">Submit</a>
        </div>
        <div class="bar">
            <input onchange="GET_CTRL(`MD: ${this.checked? 'MANUAL' : 'AUTO'}`)" onclick="storestate(`MD: ${this.checked? 'MANUAL' : 'AUTO'}`)" type="checkbox" id="toggle" class="toggleCheckbox"/>
            <label id="toggle1" for="toggle" class='toggleContainer'>
            <div>Auto</div>   
            <div>Manual</div>
            </label>
        </div>
        <div class="bar">
            <input onchange="GET_CTRL(`ST: ${this.checked? 'DOG2' : 'DOG1'}`)" onclick="storestate(`ST: ${this.checked? 'DOG2' : 'DOG1'}`)" type="checkbox" id="onOff" class="toggleCheckbox"/>
            <label id="toggle2" for="onOff" class='toggleContainer'>
                <div>Dog 1</div>   
                <div>Dog 2</div>
            </label>
        </div>
        <div class="logBorder" id="log1">
        </div>
    </div>

    <div id="text_info">
        <h1 id="h1">Dog 1: Offline</h1> <br>
        <h1 id="h2">Dog 2: Offline</h1>
    </div>

    <div class="right">    
        <div>
            <!-- <iframe allow="fullscreen" src="http://192.168.137.105:5000"> -->

            <!-- </iframe> -->
        </div>
        <div class="fullscreen">
            <a href="/" class="bn6">Full screen</a>
        </div>
        <div class="SAABlogo">
            <img id="SAABlogo" src="../static/pictures/saab_logo.png" alt="Saab logo">
        </div>
    </div>

    
    <div class="belowmenu1">
        <img id="bittle" src="../static/pictures/petoi-bittle-robot-dog-stem-fun-1_1.jpg" alt="Picture of Bittle">
    </div>
    <img id="speechbub" src="../static/pictures/BittleInstructionSpeechBubble.png" alt="Bittle speech bubble">
</body>