<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
</head>
<body>
    <div class="menu">
        <div class="bar">
            <input onchange="GET_CTRL(`MD: ${this.checked? 'MANUAL' : 'AUTO'}`)" onclick="storestate(`MD: ${this.checked? 'MANUAL' : 'AUTO'}`)" type="checkbox" id="toggle" class="toggleCheckbox"/>
            <label id="toggle1" for="toggle" class='toggleContainer'>
            <div>Auto</div>   
            <div>Manual</div>
            </label>
        </div>
        <div class="bar">
            <input onchange="GET_CTRL(`ST: ${this.checked? 'DOG2' : 'DOG1'}`)" onclick="storestate(`ST: ${this.checked? 'DOG2' : 'DOG1'}`)" type="checkbox" id="onOff" class="toggleCheckbox"/>
            <label id="toggle2" for="onOff" class='toggleContainer'>
                <div>Dog 1</div>   
                <div>Dog 2</div>
            </label>
        </div>
        <div class="logBorder" id="log1">
        </div>
    </div>

    <div id="text_info">
        <h1 id="h1">Dog 1: Offline</h1> <br>
        <span class="dot" id="dog1_dot"></span>
        <button type="button" class="submit_button" id="reset1">Reset?</button>
        <script>
            document.getElementById("reset1").addEventListener("click", reset1);

            function reset1() {
                reset_face("face1");
                localStorage.setItem("state_face1", "not_found");
            }
        </script>
        <h3 class="yeeeesidk" id="face1"></h3>
        <h1 id="h2">Dog 2: Offline</h1>
        <span class="dot" id="dog2_dot"></span>
        <button type="button" class="submit_button" id="reset2">Reset?</button>
        <script>
            document.getElementById("reset2").addEventListener("click", reset1);

            function reset1() {
                reset_face("face2");
                localStorage.setItem("state_face2", "not_found");
            }
        </script>
        <h3 class="yeeeesidk" id="face2"></h3>
    </div>

    <div class="right">    
        <div>
            <!-- <iframe id="iframe" allow="fullscreen" src="/feed">

            </iframe> -->
        </div>
        <div class="fullscreen">
            <a href="/" class="bn6">Full screen</a>
        </div>
        <div class="SAABlogo">
            <img id="SAABlogo" src="{{url_for('static', filename='images/saab_logo.png')}}" alt="Saab logo">
        </div>
    </div>

    
    <div class="belowmenu1">
        <img id="bittle" src="{{url_for('static', filename='images/Petoi-dog.png')}}" alt="Picture of Bittle">
    </div>
    <img id="speechbub" src="{{url_for('static', filename='images/BSB2.png')}}" alt="Bittle speech bubble">
</body>